<template>
  <div class="container">
    <div class="row login">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 well">
          <div class="form-group text-center">
            <div class="logo">
              <h1> Hello World</h1>
            </div>
          </div>
          <div class="form-group">
            <select class="form-control input-lg" v-model="selected">
              <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="form-group" v-bind:class="{'has-error': error.name.haserror}" >
            <label v-if="error.name" class="control-label" for="inputError">{{error.name.message}}</label>
            <input class="form-control input-lg has-error" v-model="name" placeholder="Nombre">
          </div>
          <div class="form-group">
            <button v-on:click="postMessage" type="submit" class="btn btn-default btn-lg btn-block btn-success">Submit</button>
          </div>
          <input disabled  class="form-control input-lg" type="text" placeholder="Mensaje" v-model="output">
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
var qs = require('qs')

export default {
  data: function () {
    return {
      name: "",
      selected: 1,
      options: [
        { text: 'Saludar', value: 1 },
        { text: 'Despedir', value: 2 }
      ],
      output: null,
      error: {
        name: {
          haserror: false,
          message: null
        }
      }
    }
  },
  methods: {
    postMessage () {
      var api;
      this.error =  {
        name: {
          haserror: false,
          message: null
        }
      }
      this.output = null
      if(this.selected === 1 ){
        api = 'v1/greeting'
      }else if (this.selected === 2) {
        api = 'v1/farewell'
      }
      if(this.selected === 1 || this.selected === 2){
        axios.post(api, qs.stringify({ 'name': this.name })).then(response => {
          if(response.status === 200 ){
            this.output = response.data.message
          }
        }).catch(error => {
          console.log("error")
          if ( error.response != undefined && error.response.status === 400 ){
            this.error[error.response.data.field] = {
              haserror: true,
              message: error.response.data.message
            }
          }else{
            this.output = error
          }
        })
      }
    }
  }
}
</script>

<style>
.login {
  margin-top:27px;
}
.set-logo {
  background:#fff;
  color:#ddd;
  border-radius:500%;
  padding:11px;
  font-size:108px;
  border: solid #ddd 14px;
}
.logo {
  margin-top:27px;
  margin-bottom:54px;
}

.last-row {
  margin-bottom:0px;
}

.checklabel {
  font-weight:100;
}
</style>
